/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body { 
    font-family: 'Bitter', serif;
    margin: 0 auto;
    max-width: 1024px;
}

p {
    font-size: 0.7rem;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.2rem; 
    font-weight: bold;
    text-transform: uppercase;
    
}

h3 {
    font-size: 1rem;
    color: #99bbff;
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



/* ================================= 
  Base Element Styles
==================================== */

p {
    text-align: center;
}

h1, h2, h3 {
    text-align: center;   
}

.main-header li {
    text-align: center;
    list-style: none;
    margin: 20px;
}

.container {
    width: 95%;
    margin: 80px auto;
    max-width: 1024px;
}





/* ================================= 
  Main Header
==================================== */

ul {
    padding: 0;
    list-style-type: none;
}

.main-nav a {
    color: #99bbff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 10px;
}

.main-header {
    margin-bottom: 60px;
}

.main-nav a:hover {
    color: #0055ff;
}


/* ================================= 
  Banner
==================================== */

.banner {
    width: 95%;
    margin: 0 auto;
}

.banner-photo {
    background: #F8F8FF;
    border-radius: 5%;
}

.photo {
    max-width: 50%;
    margin: 3% 25%;
    border-radius: 100%;
}

.intro {
    font-size: 0.875rem;
    padding: 10px;
    margin: 0;
    color: #a6a6a6;
    line-height: 1.5;
}



/* ================================= 
  Portfolio
==================================== */


#portfolio {
    margin-bottom: 80px;
}

.projects p {
    margin-bottom: 40px;
    line-height: 1.5;
    color: #708090;
}

.project-photo {
    border-radius: 10%;
}


/* ================================= 
  Skills
==================================== */

#skills {
    margin-bottom: 80px;
    line-height: 1.5;
    
}

#skills li{
    font-size: 0.875rem;
    color: #708090;
    text-align: center;
}



/* ================================= 
  Contact
==================================== */


#contact p {
    font-size: 0.875rem;
    padding: 10px;
    color: #a6a6a6;
    line-height: 1.5;   
}

.contact-details {
    margin: -10px;
    line-height: 0.5;
}

span {
    color: #99bbff;
}


/* ================================= 
 Footer
==================================== */

.footer {
    margin-top: 50px;
   padding: 10px 10px;
}

.footer-name {
    float: left;
    font-weight: bold;
}

.back-top {
    float: right;
}

.back-top a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-nav {
    display: none;
}



/* ================================= 
 Media Queries
==================================== */

@media (min-width: 768px) {
    
    .container  {
        width: 90%;   
    }
    
    .banner {
        width: 90%;
    }
    
    .main-nav li {
        display: inline-block;
    }
    
    .main-nav {
        text-align: center;
    }
    
    .banner-photo {
        float: right;
        width: 40%;
        padding-left: 1em;
        padding-right: 1em
    }
    
    .intro p {
        text-align: left;
        font-size: 1rem;
    }
    
    .intro {
        float: left;
        width: 60%;
        margin-left: -5px;
        padding-right: 1em;
        margin-top: -20px;
    }
    
    .projects {
        float: left;
        width: 50%;
        padding-left: .5em;
        padding-right: .5em;
    }
    
    #skills li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
}
    
    #skills ul {
        text-align: center;
    }
    
    #contact p {
        width: 60%;
        font-size: 1rem;
        margin: 0 auto
    }
    
    .footer-nav {
        float: right;
    }

    .footer-nav a {
        font-size: 0.6rem;
        font-weight: bold;
        padding-left: 20px;
        color: black;
        text-transform: uppercase;
    }

    .footer-nav {
        display: inline-block;
    }
    
    .footer-nav li {
        display: inline-block
    }
    
    .back-top {
        display: none;
    }

    h2 {
        margin-bottom: 40px;
    }
    
    #portfolio p {
        font-size: 0.8rem;
        width: 80%;
        margin: auto;
        padding-bottom: 30px;
    }
    
    #portfolio .projects:nth-child(2n) {
        clear: left;
    }
}


@media (min-width: 1024px) {
    
     .container  {
        width: 80%;   
    }
    
    .banner {
        width: 80%;
    }
    
    .main-header {
        width: 80%;
        margin: 0 auto 40px;
    }
    .name {
        float: left;
    }
    
    .main-nav {
        float: right;
        margin-right: -40px;
    }
    
    .main-nav a {
        font-size: 0.875rem;
    }
    
    .projects {
        width: 33.33333%;
    }
    
    #portfolio p {
        font-size: 0.7rem;

    }
    
    #portfolio .projects:nth-child(2n) {
        clear: none;
    }
    
    #portfolio .projects:nth-child(8n) {
        clear: left;
    }
}



/* ================================= 
 Clearfix
==================================== */


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

